<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row not-print">
    <ol class="breadcrumb">
      <li><a routerLink="/information"> <em class="fa fa-home"></em>
        </a></li>
      <li class="active"><a routerLink="/thiet-bi-cap-phat">Quản lý thiết bị</a></li>
    </ol>
    <br>
    <div class="filter">
      <div class="row">
        <div class="col-xs-4">
          <select [(ngModel)]="filterRoom" (ngModelChange)="changeRoom($event)">
            <option value="" selected>Phòng</option>
            <option *ngFor="let room of arrRooms" value="{{ room._id }}">{{ room.name }}
            </option>
          </select>
        </div>
        <div class="col-xs-4" *ngIf="right === arrRights[0]">
          <select [(ngModel)]="filterUnit" (ngModelChange)="changeUnit($event)">
            <option value="" selected>Đơn vị</option>
            <option *ngFor="let unit of arrUnits" value="{{ unit._id }}">{{ unit.name }}
            </option>
          </select>
        </div>
        <div class="col-xs-4" *ngIf="right === arrRights[0]">
          <select [(ngModel)]="filterUser" (ngModelChange)="changeUser($event)">
            <option value="" selected>Người quản lý</option>
            <option *ngFor="let user of arrUsersFilter" value="{{ user.email }}">{{ user.name }}
            </option>
          </select>
        </div>
        <div class="col-xs-4">
          <select [(ngModel)]="filterFacilities" (ngModelChange)="changeFacilities($event)">
            <option value="" selected>Thiết bị</option>
            <option *ngFor="let facilities of arrFacilities" value="{{ facilities._id }}">{{ facilities.name }}
            </option>
          </select>
        </div>
        <div class="col-xs-4">
          <select [(ngModel)]="filterPercent" (ngModelChange)="changePercent($event)">
            <option *ngFor="let percent of arrPercent" value="{{ percent.value }}">{{ percent.label }}
            </option>
          </select>
        </div>
        <div class="col-xs-5">
          <div class="col-xs-4" style="text-align: end; margin-top: 4px;">Ngày cấp phát</div>
          <div class="col-xs-8">
            <input type="date" style="margin: 0;" [(ngModel)]="filterFromDateFrom" (ngModelChange)="changeDate($event, 1)">
            <br />
            <input type="date" style="margin: 0; margin-top: 10px;" [(ngModel)]="filterFromDateTo" (ngModelChange)="changeDate($event, 2)">
          </div>
        </div>
        <div class="col-xs-7">
          <div class="col-xs-2" style="text-align: end; margin-top: 4px;">Ngày thu hồi</div>
          <div class="col-xs-6">
            <input type="date" style="margin: 0;" [(ngModel)]="filterToDateFrom" (ngModelChange)="changeDate($event, 3)">
            <br />
            <input type="date" style="margin: 0; margin-top: 10px;" [(ngModel)]="filterToDateTo" (ngModelChange)="changeDate($event, 4)">
          </div>
          <div class="col-xs-4">
            <button type="button" class="btn btn-primary btn-md" style="margin: 15px; margin-left: -70px;" (click)="resetDate();"><i
              class="fa fa-refresh"></i>
            &nbsp;Refresh ngày</button>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-success btn-md" style="margin: 15px;" (click)="print();"><i
        class="fa fa-print"></i>
      &nbsp;In danh sách</button>
    <button type="button" class="btn btn-success btn-md" style="margin: 15px;" (click)="printQR();"><i
        class="fa fa-print"></i>
      &nbsp;In QR code</button>
    <br>
  </div>
  <div class="btn-group btn-group-justified not-print" *ngIf="right === arrRights[0]">
    <a class="btn btn-info" [ngClass]="{'active': stateShow === arrStateShow[0]}" (click)="show(arrStateShow[0]);">
      Yêu cầu cấp phát</a>
    <a class="btn btn-info" [ngClass]="{'active': stateShow === arrStateShow[1]}" (click)="show(arrStateShow[1]);">
      Thiết bị cấp phát</a>
    <a class="btn btn-info" [ngClass]="{'active': stateShow === arrStateShow[2]}" (click)="show(arrStateShow[2]);">
      Thiết bị thu hồi</a>
  </div>
  <div class="btn-group btn-group-justified not-print" *ngIf="right === arrRights[1]">
    <a class="btn btn-info" [ngClass]="{'active': stateShow === arrStateShow[0]}" (click)="show(arrStateShow[0]);">
      Yêu cầu cấp phát</a>
    <a class="btn btn-info" [ngClass]="{'active': stateShow === arrStateShow[1]}" (click)="show(arrStateShow[1]);">
      Thiết bị quản lý</a>
    <a class="btn btn-info" [ngClass]="{'active': stateShow === arrStateShow[2]}" (click)="show(arrStateShow[2]);">
      Thiết bị thu hồi</a>
  </div>
  <table class="table table-bordered" id="tableData" [ngClass]="(printClass === typePrint[0])?'print':'not-print'">
    <thead>
      <tr>
        <th class="index">#</th>
        <th class="name">Tên thiết bị</th>
        <th class="room">Phòng</th>
        <th class="unit">Đơn vị</th>
        <th class="user" *ngIf="right ===arrRights[0]">Người quản lý</th>
        <th class="date">Ngày cấp phát</th>
        <th class="date">Ngày thu hồi</th>
        <th *ngIf="right ===arrRights[1]">Ghi chú</th>
        <th class="state">Tình trạng</th>
        <th class="other">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let facilities of arrFilters; index as i">
        <td>{{ i+1 }}</td>
        <ng-container *ngIf="right === arrRights[0]">
          <td>{{ facilities.name || getNameFacilities(facilities.facilities) }}</td>
          <td>{{ facilities.nameRoom || getNameRoom(facilities.room) }}</td>
          <td>{{ facilities.nameUnit || getNameUnit(facilities.unit) }}</td>
          <td>{{ facilities.nameUser || getNameUser(facilities.manager) }}</td>
          <td>{{ facilities.from | date:"dd/MM/yyyy"}}</td>
          <td>{{ facilities.to | date:"dd/MM/yyyy"}}</td>
          <td>{{ (facilities.percent || getVote(facilities._id)) + ' %'}}</td>
          <td class="other">
            <ng-container *ngIf="stateShow === arrStateShow[0]">
              <button type="button" class="btn btn-info" (click)="loan(facilities._id)"><i class="fa fa-sign-in"></i>
                Cấp phát</button>
              <br>
              <button type="button" class="btn btn-info " data-toggle="modal"
                [attr.data-target]="'#myModal'+ facilities._id"><i class="fa fa-times"></i> Xóa</button>
            </ng-container>

            <ng-container *ngIf="stateShow === arrStateShow[1]">
              <button type="button" class="btn btn-info" (click)="revoke(facilities._id)"><i class="fa fa-sign-in"></i>
                Thu hồi</button><br>
              <a routerLink='/sua-cap-phat/{{facilities._id}}'>
                <button type="button" class="btn btn-info"><i class="fa fa-info-circle"></i> Xem</button>
              </a><br>
            </ng-container>

            <ng-container *ngIf="stateShow === arrStateShow[2]">
              <button type="button" class="btn btn-info" data-toggle="modal"
                [attr.data-target]="'#myModalLoan'+ facilities._id"><i class="fa fa-sign-in"></i>Cấp phát</button><br>
              <a routerLink='/sua-cap-phat/{{facilities._id}}'>
                <button type="button" class="btn btn-info"><i class="fa fa-info-circle"></i> Xem</button>
              </a><br>
              <button type="button" class="btn btn-info " data-toggle="modal"
                [attr.data-target]="'#myModal'+ facilities._id"><i class="fa fa-times"></i> Xóa</button>
            </ng-container>
            <div class="modal fade" id="myModal{{ facilities._id }}" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header" style="text-align: center;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Bạn chắc chắn xóa</h4>
                  </div>
                  <div class="modal-body">
                    <p>
                      {{ getNameFacilities(facilities.facilities) }}
                    </p>
                  </div>
                  <div class="modal-footer" style="text-align: center;">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                      (click)="remove(facilities._id);">Xác
                      nhận</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="myModalLoan{{ facilities._id }}" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header" style="text-align: center;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Chọn ngày thu hồi</h4>
                  </div>
                  <div class="modal-body">
                    <form class="panel">
                      <div class="row ">
                        <div class="col-md-4" style="margin-top: 30px">
                          <p style="text-align: center">Ngày thu hồi</p>
                        </div>
                        <div class=" col-md-8">
                          <input name="to" type="date" class="form-control"
                            [ngModel]="facilities.to | date:'yyyy-MM-dd'" (ngModelChange)="facilities.to = $event"
                            style=" width: 250px; height: 30px; margin-top: 25px" />
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer" style="text-align: center;">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                      (click)="loan(facilities._id);">Xác
                      nhận</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container *ngIf="right === arrRights[1]">
          <td>{{ getNameFacilities(facilities.facilities) }}</td>
          <td>{{ getNameRoom(facilities.room) }}</td>
          <td>{{ getNameUnit(facilities.unit) }}</td>
          <td>{{ facilities.from | date:"dd/MM/yyyy"}}</td>
          <td>{{ facilities.to | date:"dd/MM/yyyy"}}</td>
          <td>{{ facilities.note }}</td>
          <td>{{ getVote(facilities._id) + ' %'}}</td>
          <td class="other">
            <ng-container *ngIf="stateShow === arrStateShow[0]">
              <button type="button" class="btn btn-info " data-toggle="modal"
                [attr.data-target]="'#myModal'+ facilities._id"><i class="fa fa-times"></i> Xóa</button>
            </ng-container>

            <ng-container *ngIf="stateShow === arrStateShow[1]">
              <a routerLink='/sua-cap-phat/{{facilities._id}}'>
                <button type="button" class="btn btn-info"><i class="fa fa-info-circle"></i> Xem</button>
              </a><br>
            </ng-container>

            <ng-container *ngIf="stateShow === arrStateShow[2]">
              <button type="button" class="btn btn-info" data-toggle="modal"
                [attr.data-target]="'#myModalLoan'+ facilities._id"><i class="fa fa-sign-in"></i>Cấp phát</button><br>
              <a routerLink='/sua-cap-phat/{{facilities._id}}'>
                <button type="button" class="btn btn-info"><i class="fa fa-info-circle"></i> Xem</button>
              </a><br>
              <button type="button" class="btn btn-info " data-toggle="modal"
                [attr.data-target]="'#myModal'+ facilities._id"><i class="fa fa-times"></i> Xóa</button>
            </ng-container>
            <div class="modal fade" id="myModal{{ facilities._id }}" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header" style="text-align: center;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Bạn chắc chắn xóa</h4>
                  </div>
                  <div class="modal-body">
                    <p>
                      {{ getNameFacilities(facilities.facilities) }}
                    </p>
                  </div>
                  <div class="modal-footer" style="text-align: center;">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                      (click)="remove(facilities._id);">Xác
                      nhận</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="myModalLoan{{ facilities._id }}" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header" style="text-align: center;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Chọn ngày thu hồi</h4>
                  </div>
                  <div class="modal-body">
                    <form class="panel">
                      <div class="row ">
                        <div class="col-md-4" style="margin-top: 30px">
                          <p style="text-align: center">Ngày thu hồi</p>
                        </div>
                        <div class=" col-md-8">
                          <input name="to" type="date" class="form-control"
                            [ngModel]="facilities.to | date:'yyyy-MM-dd'" (ngModelChange)="facilities.to = $event"
                            style=" width: 250px; height: 30px; margin-top: 25px" />
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer" style="text-align: center;">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                      (click)="loan(facilities._id);">Xác
                      nhận</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
  <div style="text-align: center;" class="hide" [ngClass]="(printClass === typePrint[1])?'print':'not-print'">
    <div *ngFor="let item of arrFilters;" style="margin-bottom: 50px;">
      <h2>{{ getNameFacilities(item.facilities)}}</h2>
      <h4>{{'Phòng: '+getNameRoom(item.room)}}</h4>
      <ngx-qrcode [qrc-value]="item._id" qrc-class="QRCode" qrc-errorCorrectionLevel="L" qrc-version="2">
      </ngx-qrcode>
    </div>
  </div>
</div>
