.table th,
td {
  text-align: center;
}
select {
  height: 30px;
  width: 50%;
  margin-left: 100px;
  text-align-last: center;
  text-align: center;
}
.filter {
  width: 97%;
  margin: auto;
}
.filter select{
  margin-bottom: 10px;
}
img {
  width: 100px;
  height: 100px;
}
.btn {
  margin-top: 3px;
}
th.other {
  width: 115px;
}
th.state {
  width: 90px;
}
th.date {
  width: 110px;
}
th.user {
  width: 170px;
}
th.unit {
  width: 180px;
}
th.room {
  width: 80px;
}
th.name {
  width: 190px;
}

th.index {
  width: 40px;
}

i.hover-span{
  position: relative;
}

i[data-content].hover-span:hover::after{
  content: attr(data-content);
  position: absolute;
  width: auto;
  min-width: 80px;
  opacity: 0.6;
  background-color: black;
  color: white;
  padding: 10px;
  bottom: 150%;
  left: -50px;
  font-size: 12px;
  border-radius: 10px;
  display: block;
}

ngx-qrcode .QRCode img{
  width: 600px !important;
  height: 600px !important;
}
