.table th,
td {
  text-align: center;
}
.filter {
  width: 97%;
  margin: auto;
}
.filter select {
  font-size: 17px;
  text-align: center;
}
img {
  width: 120px;
  height: 120px;
}
.btn {
  margin-top: 3px;
}
th.other{
  width: 100px;
}
th.date{
  width: 115px;
}
th.note{
  width: 190px;
}
th.type{
  width: 150px;
}
