<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li><a routerLink="/admin/home"> <em class="fa fa-home"></em>
        </a></li>
      <li class="active"><a routerLink="/admin/ql-don-hang">Quản lý thiết bị</a></li>
    </ol>
    <a routerLink="/admin/them-quyen" *ngIf="right === arrRights[0]">
      <button type="button" class="btn btn-primary btn-md" style="margin: 15px;"><i class="fa fa-plus"></i>
        Thêm thiết bị</button>
    </a>
  </div>
  <h3 style="text-align: center; color: black">Danh sách thiết bị</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="name">Tên thiết bị</th>
        <th class="type">Loại thiết bị</th>
        <th class="supplier">Nhà sản xuất</th>
        <th class="date">Ngày nhập</th>
        <th class="image">Hình ảnh</th>
        <th class="note">Ghi chú</th>
        <th class="quantity">Số lượng</th>
        <th class="other">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let facilities of arrFacilities">
        <td>{{ facilities.name }}</td>
        <td>{{ getNameType(facilities.type) }}</td>
        <!-- <td>{{ facilities.type }}</td> -->
        <td>{{ facilities.supplier }}</td>
        <td>{{ facilities.date | date:"dd/MM/yyyy"}}</td>
        <td><img [src]="facilities.image"></td>
        <td>{{ facilities.note }}</td>
        <td>{{ facilities.quantity }}</td>
        <td>
          <a routerLink='/admin/chi-tiet-don-hang-ad/{{facilities._id}}'>
            <button type="button" class="btn btn-info"><i class="fa fa-sign-in"></i> Cấp phát</button>
          </a><br>
          <a routerLink='/admin/chi-tiet-don-hang-ad/{{facilities._id}}' *ngIf="right === arrRights[0]">
            <button type="button" class="btn btn-info"><i class="fa fa-edit"></i> Sửa</button>
          </a><br>
          <button type="button" class="btn btn-info " data-toggle="modal"
            [attr.data-target]="'#myModal'+ facilities._id"><i class="fa fa-times"></i> Xóa</button>
          <div class="modal fade" id="myModal{{ facilities._id }}" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header" style="text-align: center;">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Bạn chắc chắn xóa</h4>
                </div>
                <div class="modal-body">
                  <p>
                    {{ facilities.name }}
                  </p>
                </div>
                <div class="modal-footer" style="text-align: center;">
                  <button type="button" class="btn btn-default" data-dismiss="modal"
                    (click)="remove(facilities._id);">Xác
                    nhận</button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <!-- <tr *ngFor="let facilities of arrFacilities">
        <td>{{ facilities._id }}</td>
        <td>{{ facilities.date | date:"dd/MM/yyyy"}}</td>
        <td>{{ facilities.username }}</td>
        <td>{{ facilities.amount }}</td>
        <td>{{ facilities.price + ' đ'}}</td>
        <td>
          <a routerLink='/admin/chi-tiet-don-hang-ad/{{facilities._id}}' *ngIf="stateShow === 'THIETBI'">
            <button type="button" class="btn btn-info"><i class="fa fa-sign-in"></i> Cấp phát</button>
          </a>&nbsp;
          <a routerLink='/admin/chi-tiet-don-hang-ad/{{facilities._id}}'>
            <button type="button" class="btn btn-info"><i class="fa fa-info-circle"></i> Xem</button>
          </a>&nbsp;
          <button *ngIf="stateShow !== 'CAPPHAT'" type="button" class="btn btn-info " data-toggle="modal"
            [attr.data-target]="'#myModal'+ facilities._id"><i class="fa fa-times"></i>Xóa</button>
          <div class="modal fade" id="myModal{{ facilities._id }}" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header" style="text-align: center;">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Bạn chắc chắn xóa</h4>
                </div>
                <div class="modal-body">
                  <p>
                    {{ facilities._id }}
                  </p>
                </div>
                <div class="modal-footer" style="text-align: center;">
                  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="remove(facilities._id);">Xác
                    nhận</button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr> -->
    </tbody>
  </table>
</div>
