<div class="row">
  <div class="col-xs-6">
    <div class="content-left">
      <img src="./../../../assets/logo.png" alt="logo1">
    </div>
  </div>
  <div class="col-xs-6">
    <div class="login">
      <div class="login-triangle"></div>

      <h2 class="login-header">Đăng nhập</h2>

      <form class="login-container" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input formControlName="email" type="text" class="form-control" placeholder="Email"
            [ngClass]="{'is-invalid': form.get('email').touched && form.get('email').invalid}">
          <div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
            <div *ngIf="form.get('email').errors.required">Vui lòng nhập email</div>
            <div *ngIf="form.get('email').errors.format">Email không hợp lệ</div>
          </div>
        </div>

        <div class="form-group">
          <input formControlName="password" type="password" class="form-control" placeholder="Mật khẩu"
            [ngClass]="{'is-invalid': form.get('password').touched && form.get('password').invalid}">
          <div *ngIf="form.get('password').touched && form.get('password').invalid" class="invalid-feedback">
            <div *ngIf="form.get('password').errors.required">Vui lòng nhập mật khẩu</div>
            <div *ngIf="form.get('password').errors.minlength">Mật khẩu quá ngắn</div>
          </div>
        </div>
        <input type="submit" value="Đăng nhập">
      </form>
      <a class="btn btn-default btn-gg" (click)="loginWithGG()"><img class="icon-google"
          src="https://www.google.com/favicon.ico">Login with Google</a>
    </div>
  </div>

</div>

<div class="background"></div>
