.login {
  width: 400px;
  margin: 16px auto;
  padding: 25px;
  font-size: 16px;
}

.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

.login input[type="submit"]:focus {
  border-color: #05a;
}
.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #dc3545;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
.icon-google {
  width: auto;
  height: auto;
  background-color: #bb4237;
  margin: -6px 8px -6px -15px;
  padding: 5px;
}
.btn-gg {
  color: white;
  width: 65%;
  display: flex;
  justify-content: center;
  margin: 25px auto;
  font-size: 20px;
  background-color: #dc4a38;
}

.row{
  background-color: white;
  width: 60%;
  margin: auto;
  border-radius: 20px;
}

.content-left{
  margin-top: 35px;
  text-align: center;
}

.content-left img{
  width: 300px;
  height: 390px;
}

.background {
  position: fixed;
  width: 100vw;
  z-index: -1;
  top: 0;
  left: 0;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  height: 100vh;
}
